<h1>Hello World</h1>
<p>Backend says: {{ greeting() }}</p>

<h2>Users</h2>
<ul>
    @for (user of users(); track user.id) {
    <li>
        {{ user.name }}
        @if (user.profession) {
        - {{ user.profession }}
        } @else {
        <button (click)="fetchProfession(user)">Show Profession</button>
        }
    </li>
    }
</ul>

<h2>Pure Websocket Chat Components</h2>
<div style="display: flex; gap: 20px;">
    <app-chat identity="Pure Websocket Component A"></app-chat>
    <app-chat identity="Pure Websocket Component B"></app-chat>
</div>

<h2>STOMP Chat Components</h2>
<div style="display: flex; gap: 20px;">
    <app-chat-stomp identity="STOMP Component A"></app-chat-stomp>
    <app-chat-stomp identity="STOMP Component B"></app-chat-stomp>
</div>